on:
  pull_request:
  push:
    branches:
    - master 
jobs:

  build:
    runs-on: ubuntu-latest    
    container: ubuntu
    env:
      UV_CACHE_DIR: /tmp/.uv-cache 

    steps:
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'

    - name: Install wget, git, and friends
      run: |
        sudo apt-get install -qq -o=Dpkg::Use-Pty=0 wget git imagemagick

    - name: Clone repo
      run: |
        git clone -b ${{ github.head_ref || github.ref_name }} --depth=1 https://${{ secrets.access_token }}@github.com/BKaperick/Bryan-Kaperick.me.git
        sleep 3s
        cd Bryan-Kaperick.me
        
    - name: "Set up Python"
      uses: actions/setup-python@v4
      with:
        python-version-file: "./Bryan-Kaperick.me/.python-version"

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.8.11"  
        enable-cache: true 

    - name: Restore uv cache
      uses: actions/cache@v4
      with:
        path: /tmp/.uv-cache
        key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
        restore-keys: |
          uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          uv-${{ runner.os }}

    - name: Install the project
      run: |
        cd Bryan-Kaperick.me
        uv sync --locked --all-extras

    - name: Ingest new data
      run: |
        cd Bryan-Kaperick.me
        echo $PATH
        sudo ls /__t/Python/3.13.9/x64/bin
        which python
        sudo which python
        sudo ./pre_build.sh "${{ github.event.pull_request.body }}"

    - name: Build static site
      continue-on-error: true
      run: |
        cd Bryan-Kaperick.me
        ./build.sh 3

    - name: Push changes
      run: |
          cd Bryan-Kaperick.me
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "[skip actions] built" --allow-empty
          git push origin ${{ github.head_ref || github.ref_name }}

    - name: Minimize uv cache
      run: uv cache prune --ci
